.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  border-bottom: 1px solid #eee;
}
.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-box {
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #7c3aed, #a78bfa);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-text span {
  font-weight: bold;
  color: #7c3aed;
}

.logo-text p {
  font-size: 11px;
  margin: 0;
  color: #888;
}
.search-form {
  width: 100%;
  max-width: 400px;
}

.search-form input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  background: #f3f4f6;
}

.search-form input:focus {
  outline: none;
  background: white;
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.2);
}
.nav-right a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-right a:hover {
  color: #7c3aed;
}
.icon {
  font-size: 18px;
  position: relative;
}
.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #7c3aed;
  color: white;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
}
.login-btn {
  background: linear-gradient(to right, #7c3aed, #a78bfa);
  color: white !important;
  padding: 8px 16px;
  border-radius: 10px;
}