/* SIDEBAR */
.sidebar {
  width: 240px;
  min-height: 100vh;
  background: #ffffff;
  border-right: 1px solid #eee;

  padding: 20px 14px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP */
.sidebar-top {
  display: flex;
  flex-direction: column;
}

/* LOGO */
.logo {
  font-size: 18px;
  font-weight: 700;
  color: #7c3aed;
  margin-bottom: 20px;
  padding-left: 8px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* LINKS */
.nav-links a {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  border-radius: 10px;

  text-decoration: none;
  font-size: 14px;
  color: #444;

  transition: all 0.2s ease;
}

/* TEXT */
.nav-links a span {
  font-size: 14px;
}

/* HOVER */
.nav-links a:hover {
  background: #f3f4f6;
  color: #7c3aed;
}

/* ACTIVE */
.nav-links a.active {
  background: linear-gradient(to right, #7c3aed, #a78bfa);
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(124, 58, 237, 0.2);
}

/* ADD BOOK (SOFT) */
.highlight {
  background: #f5f3ff;
  color: #7c3aed;
  font-weight: 500;
}

/* ACTIVE ADD */
.highlight.active {
  background: linear-gradient(to right, #7c3aed, #a78bfa);
  color: white;
}

/* BOTTOM */
.sidebar-bottom {
  margin-top: 20px;
}

/* LOGOUT */
.logout-btn {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 10px;

  background: #ef4444;
  color: white;

  font-size: 14px;
  cursor: pointer;

  transition: 0.2s;
}

/* HOVER */
.logout-btn:hover {
  background: #dc2626;
}