.dashboard {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(180deg, #f75050 0%, #fcf5f5 100%);
}
.content {
  flex: 1;
  padding: 30px;
}
.dashboard-header h1 {
  color: white;
  font-size: 28px;
}
.dashboard-header p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}
.search-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.search-box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.2);
  color: white;
}
.search-box button {
  background: #ff3b3b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
.section {
  margin-top: 30px;
}

.section h2 {
  color: white;
  margin-bottom: 15px;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.car-card {
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);

  background: rgba(255, 255, 255, 0.2);
  color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.car-card button {
  padding: 8px;
  border: none;
  border-radius: 20px;
  background: #ff3b3b;
  color: white;
  cursor: pointer;
}